<main *ngIf="apod">
  <button *ngIf="date" [routerLink]="['/apod', this.date]">Pick a new RANDOM graphic</button>
  <hr>
  <h1>{{ apod.title }}</h1>
  
  <hr>
  <!-- Only show the image element if the media_type is set to image -->
  <img *ngIf="apod.media_type==='image'" [src]="apod.url" [alt]="apod.title">
  
  <!-- Display and embed the YouTube video if the media_type is set to video -->
  <div id="video" *ngIf="apod.media_type==='video'">
    <iframe [src]="apod.url | safe: 'resourceUrl'" frameborder="0" allowfullscreen></iframe>
  </div>
  <div>
    <!-- 
      Only select images have a copyright, if apod.copyright is 
      empty we will not attempt to show it
    -->
    <span *ngIf="apod.copyright" class="copy">&copy; {{ apod.copyright }} </span>
    {{ apod.date }}
  </div>

  <p>{{ apod.explanation }}</p>

</main>